#title {
    background-color: #ff4c68;
}

h1 {


    font-family: 'Lilita One', cursive;

    font-size: 4rem;
    line-height: 1.5;
    color: white;
}

.container-fluid {
    padding: 3% 15%;


}

h2 {




    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-family: "ubuntu";
    font-size: 3.5rem;
    font-weight: bold;
}

.rujal {
    font-size: small;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;

}




.nav-item {
    padding: 0 18px;
}

.nav-item {

    font-size: 1.4rem;
    font-weight: normal;

}

#prb1 {
    padding-left: 0px;
    padding-right: 60px;
}

.persoanl-btn {
    margin: 8% 3% 5% 0;
}

.iamge-dog {
    width: 22%;
    transform: rotate(25deg);
    padding-left: 20px;
    position: absolute;
    
  
   
    
   
   
}

.font {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

.s-font {
    color: #8f8f8f;
}


#features {
    padding: 7% 18%;
    position:relative;
    background-color:white ;
    z-index: 1;
    
}

.feature-box {
    text-align: center;
}


.h-i {
    padding-bottom: 1.2rem;
    color: #ef8172;
}

#testimonials {
    background-color: #ef8172;
    padding: 7% 15%;
    text-align: center;
}

.white {
    color: white;
}

.testi-image {
    width: 15%;
    border-radius: 100%;
    margin: 20px;
   
}

#happy-couples {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    padding-top: 50px;

}

.kissing {
    width: 30%;
    border-radius: 100%;
    margin: 20px;


}
#press{
    background-color: #ef8172;
    text-align: center;
     
}
.companies{ 
    width:15%;
    margin:20px 20px 50px;

}
.carousel-item{
    padding:7% 15%
}
#pricing{
    padding: 100px;
}
.centre{
    text-align: center;

}
#cta {
      background-color: #ff4c68;
      text-align: center;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 3%;


}
#footer {
    text-align: center;
}
.adjustment{
    padding-top:5%;
}
.ss{
    padding: 1%;
    position: relative;
    top: 1px;
     
}
.ii { 
    position: relative;
    bottom:20px;

}
@media( max-width:1028px) {
    .iamge-dog {
        position: static;
        transform:rotate(0) ;
        width:70% ;
    
    }
    #title {
        text-align: center;
    }
}

